body {
	background-color: #000000;
}

#model{
	width:100%;
	float:left;

}

#box1{
	width:68%;
	margin-right:2%;
	float:left;
}

#box2{
	width:30%;
	float:left;

}

#button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
